{% extends 'base.html' %}

{% block head %}
<title>Recommendations Page</title>
{% endblock %}

{% block body %}



<div class="container-fluid text-center image-container ">
    <div class="col align-self-center">
      <h1 class="text-center white ">The Recommended Movies are:</h1>
        <div class="container-fluid text-center ">
            <ul class="list-group mt-4">
            {% for movie in movie_recommendations %}
                <a href="/moviepage/{{movie}}">
                <li class="list-group-item text-light list-custom ">

                    {{ movie }}

                </li>
                </a>

            {% endfor %}
        </div>
    </ul>
    </div>
    <form method="post" action="/recommendations" class="mt-4">
              <input type="submit" value="Go to home page." class="btn btn-lg btn-secondary border-white">
    </form>
</div>

    <!-- Include the Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}

